.header-box {
    height: 0px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-self: space-between;
    background: rgba(0, 0, 0, .1);
}

.logo {
    width: 200%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    font-weight: 600;
    background: skyblue;
}

nav {
    width: 100%;
}

ul {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    display: block;
    width: 100%;
    line-height: 80px;
    text-align: center;
}

.mobile-menu {
    display: none;
    font-size: 28px;
    font-weight: 600;
    line-height: 80px;
    text-align: center;
}

.canvas-wrap-front {
    width: 600px;
    max-width: 100%;
    position: relative;
    padding: 0;
    box-sizing: content-box;
    top: 100px;
    left: 100px;
    z-index: 3;

}

.canvas-wrap-back {
    width: 600px;
    max-width: 100%;
    position: relative;
    padding: 0;
    box-sizing: content-box;
    top: 400px;
    left: 100px;
    z-index: 3;

}

.canvas {
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    max-width: 100%;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    z-index: 3;
}

.BGImage {
    position: relative;
    z-index: 1;
    background-image: url("../Resources/Images/Background/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 200vh;
    height: 100vh;
}

.BGImage::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.5;
}

.front {
    position: relative;
    z-index: 3;
}