*{
    margin: 0; padding: 0;
}

main{
    min-width: 600px;
}



.canvases{
    font-weight: bold;
    border-right: black solid 3px;
    width: fit-content;
    display: inline-block;
}

.canvases h3{
    width: fit-content;
}

.canvas-wrap-front {
    width: 282px;
    height: 400px;
    padding-top: 10px;
    position: relative;
    display: inline-block;
    box-sizing: content-box;
}

.canvas-wrap-back {
    width: 282px;
    height: 400px;
    padding-top: 10px;
    display: inline-block;
    position: relative;
    box-sizing: content-box;
}

.canvas {
    position: absolute;
    z-index: 2;
}

.form{
    display: inline-block;
    vertical-align: top;
}
.training{
    padding-bottom: 5px;
    border-bottom: black solid 3px;
}
